@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-salsa {
  font-family: 'Salsa', cursive;
}

.join-button {
  background-color: #fff;
  color: #10b981;
  border: 2px solid #10b981;
  padding: 1rem 2rem;
  font-size: 100%;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.join-button:hover {
  background-color: #10b981;
  color: #fff;
}