body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.slide-content {
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
